.title{

    text-align: center;
    padding-top: 20px;
}

image{
    background-repeat: no-repeat,no-repeat;
    background-image: linear-gradient(red, yellow);
    
}
body {
    font-family: 'Oswald', sans-serif !important;
  }

  a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green ;
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: blue;
    background-color: white
}

main{
    background-color: grey
}
