<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<!-- <img src="assets/quote.jpg" alt="quote" width="30px"> -->
<div class="container image"  >
<div class="container">
<div class ="title">
  <h1 >
    {{ title }}
  </h1>
  
</div>

 <div style="padding-left:36%">
    <div class="container">
        <div class="row">
          
          <ul class="nav nav-pills">
            <div class="col-lg-3">
                <li routerLinkActive="active"><a routerLink="/workouts">ViewAll</a></li>
            </div>
            <div class="col-lg-3">
                <li routerLinkActive="active"><a routerLink="/create">Create</a></li> 
              </div>
              <div class="col-lg-3">
                  <li routerLinkActive="active"><a routerLink="/category">Category</a></li> 
                </div>
                <div class="col-lg-3">
                    <li routerLinkActive="active"><a routerLink="/track">Track</a></li>
                    
                  </div>
             
             
           
          </ul>
      
        </div>
       </div>
 </div>
 
   
</div>
<router-outlet></router-outlet>
</div>

