<div class="container">
    <div style="padding-top:20px">
        <h4>End Workout</h4>
    </div>
    <div style="padding-top:10px">
         <form [formGroup]="endForm">
                 
                     <div class="form-group">
                 
                       <div class="row">
                         <div class="col-lg-2">
                             <label for="title">Title:</label>
                         </div>
                         <div class="col-lg-3">
                     <!-- <input type="text" readonly style="width:100%" class="form-contorl" [ngModel]="workout.title" id="title"> -->
                       {{workouts?.title}}
                         </div>
                       </div>
                 <br>
                       <div class="row">
                           <div class="col-lg-2">
                               <label for="note">Note:</label>
                           </div>
                           <div class="col-lg-3">
                       <!-- <textarea type="text" style="width: 100%;height: 126%;" readonly class="form-contorl" [ngModel]="workout.note" id="note"></textarea> -->
                            {{workouts?.note}}
                    </div>
                         </div>
                 <br>
                         <div class="row">
                             <div class="col-lg-2">
                                 <label for="endDate">End Date:</label>
                             </div>
                             <div class="col-lg-3">
                         <input type="date" [value]="endDate|date:'yyyy-MM-dd'" name="endDate" class="form-contorl" formControlName="endDate" id="endDate" >
                             </div>
                           </div>
                 <br>
                           <div class="row">
                             <div class="col-lg-2">
                                 <label for="endTime">End Time</label>
                             </div>
                             <div class="col-lg-3">
                     <input type="time" class="form-control" formControlName="endTime" id="endTime" >
                             </div>
                           </div>
                 <br>
                           <div class="row">
                             <div class="col-lg-3">
                               <button class="btn btn-success" (click)="end()" type="submit">End</button>
                             </div>
                             <div class="col-lg-2">
                               <button type="submit" class="btn btn-default" (click)="cancel()">Cancel</button>
                             </div>
                           </div>
                     </div>
                    </form>
 
 
    </div>
    
 </div>
 